.pets {
  min-height: 877px;
  background: #f6f6f6;
}

.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 53px;
}
.slider-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
}

.pets .h3-heading {
  align-items: center;
  text-align: center;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.h4-heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: block;
  justify-content: center;
  text-align: center;
  color: #545454;
}

.card {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.pets .button {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 261px;
}
.pets .button-light {
  width: 187px;
  background: #fafafa;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}
.card-link {
  padding: 0;
  margin: 0;
}

.card:hover .button-light {
  background-color: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
}
.card:hover {
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 0;
  background-color: #f6f6f6;
}

.pets-button-arrow:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
  cursor: pointer;
}
