body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

/* hide invisible objects */

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* grid */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

.container-narrow {
  width: 1026px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

/* common styles for all pages */

ul {
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0px;
}

/* header */

.header {
  height: 120px;
  padding-bottom: 60px;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.logo {
  width: 190px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.title {
  font-family: "Georgia";
  font-style: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.title:hover {
  filter: brightness(90%);
}

.subtitle {
  margin-left: 4px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-top: 10px;
}

.nav-menu ul {
  width: 443px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav-menu a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.nav-menu .ordinary-link {
  color: #cdcdcd;
}

.nav-menu li + li {
  margin-left: 35px;
}

.nav-menu li:not(:first-child) a:hover {
  color: #fafafa;
  display: flex;
}

.nav-menu li:not(:first-child) a:active {
  color: #fafafa;
  border-bottom: 1px solid #f1cdb3;
  display: flex;
}

.nav-menu .active {
  color: #fafafa;
  display: flex;
  border-bottom: 1px solid #f1cdb3;
}

/* not only */

.start-screen {
  background-image: radial-gradient(
    at 0% 20%,
    rgba(91, 72, 58, 1) 10%,
    rgba(38, 36, 37, 1) 70%,
    rgba(33, 31, 32, 1) 100%
  );
  z-index: -2;
}

.grain {
  background: url(../../assets/images/noise_transparent@2x.png) repeat;
  opacity: 0.99;
  z-index: -1;
}

.not-only {
  height: 728px;
  z-index: 1;
  opacity: 1;
}

.not-only-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.not-only-content {
  padding-bottom: 243px;
  min-height: 320px;
  max-width: 460px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  gap: 42px;
}

.not-only-heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #ffffff;
}

.not-only-paragraphs {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #cdcdcd;
}

.button {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
}

.button:hover {
  background: #fddcc4;
}

/* about */

.about {
  height: 588px;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 120px;
}

.about-content {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  gap: 25px;
}

.h3-heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  display: flex;
  flex-wrap: wrap;
  color: #545454;
  max-width: 400px;
}

.about-paragraphs {
  font-family: "Arial";
  font-size: 15px;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: #4c4c4c;
}


/* pets */

.pets {
  min-height: 877px;
  background: #f6f6f6;
}

.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 53px;
}

.slider-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 90px;
}

.pets .h3-heading {
  align-items: center;
  text-align: center;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.h4-heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  display: block;
  justify-content: center;
  text-align: center;
  color: #545454;
}

.card {
  width: 270px;
  height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.pets .button {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 261px;
}

.pets .button-light {
  width: 187px;
  background: #fafafa;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
}

.card-link {
  padding: 0;
  margin: 0;
}

.card:hover .button-light {
  background-color: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
}

.card:hover {
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 0;
  background-color: #f6f6f6;
}

.pets-button-arrow:hover {
  border: 2px solid #fddcc4;
  background: #fddcc4;
  cursor: pointer;
}

/* help */

.help {
  min-height: 611px;
  background: #ffffff;
}

.help .h3-heading {
  align-items: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 55px;
  margin: 0 auto;
  max-width: 320px;
}

.help-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin: 0 auto;
}

.icon {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.help .icon {
  margin-left: 30px;
  margin-right: 30px;
}

.help .h4-heading {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 30px;
}

/* donation */

.donation {
  min-height: 462px;
  background: #f6f6f6;
}

.donation-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 30px;
}

.donation-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 380px;
  gap: 20px;
}

.credit-card-layout {
  display: flex;
  flex-direction: row;
  background: #f1cdb3;
  border-radius: 9px;
  width: 355px;
}

.h5-heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation .icon {
  margin: 0;
  display: inline-block;
}

.svg {
  padding: 10px 0 10px 15px;
  vertical-align: top;
}

.donation .icon {
  cursor: pointer;
}

.donation .h4-heading {
  display: inline-block;
  padding: 10px 15px;
  vertical-align: text-bottom;
}

.legal {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #b2b2b2;
}

/* footer */

.footer {
  height: 350px;
  background-image: radial-gradient(
    at 0% 35%,
    rgba(81, 61, 47, 0.999) 25%,
    rgba(26, 26, 28, 0.999) 90%,
    rgba(33, 31, 32, 0.999) 100%
  );
}

.footer .h3-heading {
  color: #ffffff;
  max-width: none;
}

.footer .h4-heading {
  color: #f1cdb3;
  text-align: left;
}

.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
  gap: 158px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 234px;
  padding-top: 16px;
  padding-bottom: 60px;
  max-width: 300px;
}

.footer-column1 {
  gap: 35px;
}

.footer-column2 {
  gap: 32px;
}

.footer .icon {
  margin: 0;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer .icon:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.footer .svg {
  padding-right: 20px;
  padding-left: 0;
  padding-top: 0px;
  min-width: 22px;
}


